.self-assessment-modal {
  padding-left: 15px;
  padding-right: 15px;
}
.modal-header {
  padding-top: 20px;
  margin-left: 15px;
}
.endorsement-description {
  padding-top: 20px;
  padding-bottom: 5px;
}
