{{#d-modal-body title='custom_modal_title' class='custom-modal'}}
  <div class='user-selector'>
    {{#if (theme-setting 'subtitle')}}
    <p>{{theme-setting 'subtitle'}}</p>
    {{/if}}
    <h3>Award to:</h3>
    {{email-group-user-chooser
      value=usernames
      placeholderKey=field.placeholder
      tabindex=field.tabindex
    }}
  </div>
  <div class="endorsement-description">
    <h3>Brief description:</h3>
  {{textarea value=newNote
  placeholder=(theme-setting 'description_placeholder')}}
  {{d-button
    action=(action 'attachNote')
    label='custom_modal_button'
    class='btn-primary'
    disabled=attachDisabled
  }}
  </div>
{{/d-modal-body}}